@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --bg-color: #CCCCCC;
    --primary: #DDDDDD;
    --light: #EEEEEE;
    --secondary: #BBBBBB;
    --dark: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    min-width: 300px;
    text-align: center;
    background-color: var(--primary);
    height: 100%;
    overflow-x: hidden;
}

.heading {
    padding: 5px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--light);
}

.brand-img {
    padding: 5px;
    border-radius: 80px;
    width: 60px;
    color: var(--dark);
    background-color: var(--light);
}

.brand-name {
    width: 100px;
}

.content {
    margin: 10px 10px;
}

.outer-card {
    margin: 5px 5px;
}

.inner-card {
    margin: 10px 10px;
    padding: 5px 5px 5px 0px;
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 0px 2px 2px var(--bg-color);
}

.card-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.social-img {
    max-width: 40px;
    width: 45px;
}

.desc {
    width: 300px;
    font-size: 15px;
    font-weight: 700;
}

button {
    border: none;
    background: var(--light);
    width: 45%;
    padding: 5px;
    border-radius: 2px;
}